* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  font-size: 20px;
}

hr {
  width: 95%;
  margin: auto;
  border: 0.5px solid lightgrey;
}

.img-responsive {
  padding: 10px 10px;
}

.card-img {
height: 400px;
}

.card-title {
  font-size: 40px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  margin-top: 15%;
  margin-left: 3%;
}

.form {
  padding: 20px 10px;
}

.card-custom {
  margin-top: 5%;
}

.btn-custom {
  background-color: #FD6A02;
  border-color: #FD6A02;
  width: 100%;
  font-size: 18px;
}

.btn-custom:hover {
  background-color: #FD6A02;
  border-color: #FD6A02;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.03);
}

.banner {
  width: 100%;
  height: 3em;
  background-color: #136FB2;
  border-radius: 1px;
  text-align: center;
  display: table;
}

.tx-banner{
  vertical-align: middle;
  display: table-cell;
  font-size: 25px;
}

.bullet-point {
  background-color: lightgrey;
  border-radius: 20px;
  height: 2em;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 16px;
  display: inline;
}

.container-img {
  float: left;
}
.container-text {
  display: inline;
}

.product {
  margin-bottom: 6em;
}

.card-deck {
  margin: 15px 15px 15px 15px;
  padding-top: 3em;
}

.card-title-custom {
  text-align: center;
  font-weight: 900;
  font-size: 19px;
  color: #FD6A02;
  text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
  margin-bottom: 1em;
}

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #136FB2;
  color: white;
  padding-top: 13px;
  font-size: 16px;
  text-align: center;
}

@media screen and (max-device-width: 990px) {
  .tx-hero {
    float: left;
    width: 350px;
    margin-right: 1em;
  }
  .card-img {
    height: 400px;
  }

  .card-custom {
    margin-top: 5%;
    width: 45%;
  }
  .container-img {
    width: 85%;
    float: none;
    margin: 1em;
  }
  .container-text {
    display: grid;
  }
}
@media screen and (max-device-width: 770px) {
  .tx-hero {
    display: none;
  }
  .card-img {
    height: 350px;
  }

  .card-custom {
    margin-top: 5%;
    width: 70%;
    margin-left: 15%;
  }
  .container-img {
   float: none;
   margin: 1em;
  }
  .container-text {
    display: grid;
  }
}
@media screen and (max-device-width: 480px) {
  .tx-hero {
    display: none;
  }
  .card-img {
    height: 350px;
    width: 100%;
  }
  .card-custom {
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
  }
  .container-img {
    width: 85%;
    float: none;
    margin: 1em;
  }
  .bullet-point {
    background-color: lightgrey;
    border-radius: 20px;
    height: 2em;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    display: inline;
  }
}